/* course apply form  style */

.course-apply {
  margin-top: 150px !important;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.course-apply__title {
  padding: 6%;
  background: rgb(19, 175, 240);
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  text-align: center;
  color: #fff;
}

.course-apply__form {
  padding: 25px;
}
.course-apply__submit {
  display: flex;
  justify-content: center;
}
.course-apply__submit-btn {
  width: 30%;
  border-radius: 3rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background: rgb(19, 175, 240);
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  text-align: center;
  outline: none;
}

@media (max-width: 768px) {
  .course-apply {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .course-apply__title {
    font-size: 20px;
  }
  .course-apply__submit-btn {
    width: 100%;
  }
}

.common-notification {
  margin-top: 50px;
}

.notification-table {
  padding-top: 100px;
  overflow: hidden;
}
.common-notification__btn {
  border-radius: 25px;
  background: rgb(19, 175, 240);
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  padding: 10px 20px;
  color: #fff;
  transition: 0.4s;
  margin-right: 20px;
}
.common-notification__btn:hover {
  box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #0ba9ca, 0 0 10px #0ba9ca, 0 0 20px #0ba9ca;
  color: #fff;
}

.notification-table__title {
  text-align: center;
  margin-bottom: 3%;
}
.notification-table__head {
  background-color: #869596;
  color: #fff;
}
.notification-table tbody:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}
.notification-table tbody:hover {
  background-color: rgb(224, 248, 252);
  border-color: rgb(224, 248, 252);
}

.upload-preview {
  width: 180px;
  height: 220px;
  object-fit: contain;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .notification-table {
    overflow-x: scroll;
  }
}
