.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.row {
  margin-right: 0;
}
.login-form-1 {
  margin: 150px auto 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}

.login__form-title {
  background: rgb(19, 175, 240);
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
}
.login__form-title h3 {
  padding: 35px 0;
  text-align: center;
  color: #fff;
}
.login__form-inner {
  padding: 10% 15%;
}
.login__form-inner input,
.login__form-inner input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.login__form-inner input:focus {
  border-color: rgba(91, 104, 235, 1);
}
.login__form-inner label {
  color: rgba(91, 104, 235, 1);
}

.login__form-inner .password-box {
  position: relative;
}
.login__form-inner .password-box i {
  position: absolute;
  top: 46%;
  right: 5%;
  cursor: pointer;
  color: rgba(91, 104, 235, 1);
}

.login-form-2 {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit-box {
  display: flex;
  justify-content: center;
}
.btnSubmit {
  width: 50%;
  border-radius: 2rem;
  padding: 3.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background: rgb(19, 175, 240);
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  text-align: center;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
