{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Layihənin Back-end developer - i | <span class="text-muted">Fəqan Umarov</span></h2>
          <hr>
          <p class="lead">2015-cı ildən CİS (Coğrafi İnformasiya Sistemləri) ilə məşğulam. 2018- 2020-ci illər Əmlak Məsələləri
            Dövlət Komitəsində CİS mühəndisi kimi çalışmışam. 2020-ci ildən indiyədək Əmlak məsələləri Dövlət Xidmətində aparıcı
            mühəndis kimi calışıram. 2019-cu ildən başlayaraq Python proqramlaşdırma dili ilə məşğulam.
            Kurshub layihəsi ümumilikdə (back-end və front-end işləri) 6 aya başa gəlmişdir. Və hal-hazırda da yeni funksionallıqların
            hazırlanması üçün back-end işlərini davam etdirirəm. Layihə kursları və təlimçiləri bir araya toplamaq və
            eyni zamanda elmi bir mühit yaratmaq məqsədi daşıyır.
            Sertifikatlar:
            ArcGIS Toolbox - ESRI Türkiyə
            Configuring Web Apps Using Web AppBuilder for ArcGIS and 
            Mobil App- ESRI Türkiyə
            Performing Analysis - ESRI Türkiyə
            Pythagoras (Software Training Course) - GEO Plus LTD
          </p>
          <br>
          <p>Proyektlər: <a href="https://github.com/FeqanUmarov?tab=repositories">Gİthub profili</a></p>
          
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto aboutimg" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'assets/images/feqan.png' %}" data-holder-rendered="true">
        </div>
    </div>
    <br><br><br><br><br><br>
    <hr>
    <br><br><br>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Layihənin front-end developeri | <span class="text-muted">Elvin Yekayev</span></h2>
          <p class="lead">2021-ci ildən BNB Dynamics şirkətində front-end developer kimi çalışır. Həmçinin bir çox startup-larda
            iştirak etmiş və freelance proyektləri olmuşdur.
          </p>
          <br>
          <p>Proyektlər: <a href="https://github.com/elvinyeka?tab=repositories">Github profili</a></p>
          
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto aboutimg" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'assets/images/elvin.jpg' %}" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
</div>


{% endblock %}