{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <br><br><br><br><br><br><br>
    <h3>Kurs Elave Et</h3>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div>
            {{form.course_name|as_crispy_field}}
            {{form.course_type|as_crispy_field}}
            {{form.course_slogan|as_crispy_field}}
            {{form.course_location|as_crispy_field}}
            {{form.course_logo|as_crispy_field}}
            {{form.course_profile|as_crispy_field}}
            

        </div>

        
        <div class="addbranchbutton">
            <button type="submit" class="btn btn-danger">Elave Et</button>
        </div>

        
    </form>
</div>

{% endblock %}