{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="add-trainer__bg">
        <div class="container">
            <div class="add-trainer">
                <h3>Telim başlat</h3>
                <form class="add-trainer__form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="add-trainer__form-inner">
                        {{form.title|as_crispy_field}}
                        {{form.media}}
                        {{form.content|as_crispy_field}}
                        {{form.photo|as_crispy_field}}
                        {{form.start_date|as_crispy_field}}
                        {{form.end_date|as_crispy_field}}
                        {{form.event_day|as_crispy_field}}
                        {{form.event_location|as_crispy_field}}
                        {{form.event_adress|as_crispy_field}}
                    </div>
                    <div class="add-trainer__form-submit">
                        <button type="submit" class="add-trainer__form-submit--btn">Əlavə Et</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}