{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <br><br><br><br><br>
    
    
    <h3>Blog yarat</h3>
    <hr>
           
    <form method="POST" class="input-append" enctype="multipart/form-data">{% csrf_token %}
        {{form.title|as_crispy_field}}
        {{form.media}}
        {{form.content|as_crispy_field}}
        {{form.photo|as_crispy_field}}
        <button type="submit" class="btn btn-danger">Əlavə Et</button>
    </form>
        

</div>

{% endblock %}