{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

<div class="articles">
    <div class="container">
        <div class="row articles__wrapper">
            {% for article in articles %}
            <div class="articles__item">
                <div class="articles__item-body">
                    {% if article.photo %}
                    <div class="articles__item-img--wrapper">
                        <img src="{{article.photo.url}}" class="articles__item-img" alt="Waterfall" />
                    </div>
                    {% endif %}
                    <h5 class="articles__item-title">{{article.blog_title}}</h5>
                </div>
                <div class="detail-course__event-btns">
                    {% if request.user == article.user%}
                        <a href="{% url 'course:deletearticle' article.id %}" class="detail-course__event-btns--delete">Sil</a>
                        <a href="{% url 'course:updatearticle' article.id %}" class="articles__item-btn">Yenilə</a>
                    {% endif %}
                        <a href="{% url 'course:commonarticledetails' article.id %}" class="articles__item-btn">Ətraflı</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}