{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<br><br><br><br><br><br>
<div class="container">
  <p>Kursalara edilən müraciətlər</p>
  <div class="row">
    <table class="table table-striped">
          {% if notification_courses %}
          <thead>
            <tr>
              <th scope="col">Kursun adı</th>
              <th scope="col">Kursun emaili</th>
              <th scope="col">Kursun nömrəsi</th>
              <th scope="col">Müraciət başlığı</th>
              <th scope="col">Mövzu</th>
              <th scope="col">Tarix</th>
              <th scope="col">Vəziyyət</th>
            </tr>
          </thead>


          {% for notification_course in notification_courses %}
          {% if notification_course.user_id == request.user.id %}
          <tbody>
            <tr>
              <td> <a href="{% url 'course:detailcourse' notification_course.course_id %}">{{notification_course.course.course_name}}</a></td>
              <td>{{notification_course.course.course_email}}</td>
              <td>{{notification_course.course.course_phone}}</td>
              <td>{{notification_course.apply_title}}</td>
              <td>{{notification_course.apply_content}}</td>
              <td>{{notification_course.apply_date}}</td>
              
              {% if notification_course.pending == 1 %}
              <td>gözləmədə...</td>
              {% elif notification_course.confirm == 1 %}
              <td>Təsdiqləndi</td>
              {% elif notification_course.cancel == 1 %}
              <td>Imtina edildi</td>
              {% endif %}
            </tr>
            {% endif %}

          {% endfor %}
          {% endif %}

        </tbody>
      </table>
  </div>
  

  <br>
  <br>


  <p>Təlimçilərə edilən müraciətlər</p>
  <div class="row">
    <table class="table table-striped">
          {% if notification_trainers %}
          <thead>
            <tr>
              <th scope="col">Təlimçinin adı</th>
              <th scope="col">Emaili</th>
              <th scope="col">Nömrəsi</th>
              <th scope="col">Müraciət başlığı</th>
              <th scope="col">Mövzu</th>
              <th scope="col">Tarix</th>
              <th scope="col">Vəziyyət</th>
            </tr>
          </thead>


          {% for notification_trainer in notification_trainers %}
          {% if notification_trainer.user_id == request.user.id %}
          <tbody>
            <tr>
              <td><a href="">{{notification_trainer.trainer.user.name}}</a></td>
              <td>{{notification_trainer.trainer.user.email}}</td>
              <td>{{notification_trainer.trainer.user.phone}}</td>
              <td>{{notification_trainer.apply_title}}</td>
              <td>{{notification_trainer.apply_content}}</td>
              <td>{{notification_trainer.apply_date}}</td>
              
              {% if notification_trainer.pending == 1 %}
              <td>gözləmədə...</td>
              {% elif notification_trainer.confirm == 1 %}
              <td>Təsdiqləndi</td>
              {% elif notification_trainer.cancel == 1 %}
              <td>Imtina edildi</td>
              {% endif %}
            </tr>
            {% endif %}

          {% endfor %}
          {% endif %}

        </tbody>
      </table>
  </div>

    
</div>
{% endblock %}