{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<div class="row">
  <div class="container common-notification">
    <div class="notification-table">
      <table class="table table-striped">
        {% if user %}
        <thead notification-table__head>
          <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Basliq</th>
            <th scope="col">Movzu</th>
            <th scope="col">Telebenin emaili</th>
            <th scope="col">Elaqe</th>
            <th scope="col">Veziyyet</th>
            <th scope="col">Təsdiq</th>
            <th scope="col">İmtina</th>
          </tr>
        </thead>


        {% for student_info in student_infos %}
        {% if student_info.pending == 1 or student_info.confirm == 1 %}
        <tbody>
          <tr>
            <td>{{student_info.user.name}}</td>
            <td>{{student_info.user.surname}}</td>
            <td>{{student_info.apply_title}}</td>
            <td>{{student_info.apply_content}}</td>

            {% if student_info.pending == 1 %}
            <td>************</td>
            <td>************</td>
            <td>pending...</td>
            {% elif student_info.confirm == 1 %}
            <td>{{student_info.user.email}}</td>
            <td>{{student_info.user.phone}}</td>
            <td>Təsdiqləndi</td>
            {% elif student_info.cancel == 1 %}
            <td>************</td>
            <td>************</td>
            <td>Imtina edildi</td>
            {% endif %}
            {% if student_info.confirm != 1 %}
            <td>
              <a type="button" href="{% url 'course:confirm' student_info.id %}"
                class="common-notification__btn">Təsdiq</a>
            </td>
            {% endif %}
            <td>
              <a type="button" href="{% url 'course:cancel' student_info.id %}"
                class="common-notification__btn">İmtina</a>
            </td>
            {% if student_info.confirm == 1 %}
            <td>
              <a type="button" href="{% url 'course:courseanswer' student_info.id %}"
                class="common-notification__btn">Cavab yaz</a>
            </td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

        </tbody>

      </table>
    </div>

  </div>
</div>
{% endblock %}