{% extends "layout.html" %}
{% block body %}
<div id="services" class="services section">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Bütün kurslar bir platformada</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>Bütün kursları sizin ayağınıza gətirdik. Sizə lazım olan kursu seçin və öyrənməyə başlayın!</p>
            <br><br><br>
            <form action="">
              {%  csrf_token %}
              <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" name="keyword" class="input-search" placeholder="Kursun adini daxil edin...">
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        {% if course_values %}
        {% for course_value in course_values%}
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>{{course_value.course_name}}</h4>
            <p>{{course_value.course_type}}</p>
            <p>Istifadeci: {{course_value.user}}</p>
            <span>{{course_value.course_slogan}}</span>
            <div class="text-button">
              <a href="{% url 'course:detailcourse' course_value.id %}">Etrafli <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-danger">
          Bele bir kurs yoxdur
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
