{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container course-apply">
    <div class="control-group" id="fields">
        <h3 class="control-label" for="field1">Kursa muraciet et</h3>
        <div class="controls" id="profs">
            <form method="POST" class="input-append">{% csrf_token %}
                <div id="field">{{form|crispy}}</div>
                <button type="submit" class="btn btn-danger">Muraciet et</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}