{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<div class="row">
  <div class="container common-notification">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="notification-table">
      <table class="table table-striped">
        {% if user %}
        <thead notification-table__head>
          <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Basliq</th>
            <th scope="col">Movzu</th>
            <th scope="col">Telebenin emaili</th>
            <th scope="col">Elaqe</th>
            <th scope="col">Veziyyet</th>
            <th scope="col">Təsdiq</th>
            <th scope="col">İmtina</th>
          </tr>
        </thead>


        {% for student_info in student_infos %}
        {% if student_info.pending == 1 or student_info.confirm == 1 %}
        <tbody>
          <tr>
            <td>{{student_info.user.name}}</td>
            <td>{{student_info.user.surname}}</td>
            <td>{{student_info.apply_title}}</td>
            <td>{{student_info.apply_content}}</td>

            {% if student_info.pending == 1 %}
            <td>************</td>
            <td>************</td>
            <td>pending...</td>
            {% elif student_info.confirm == 1 %}
            <td>{{student_info.user.email}}</td>
            <td>{{student_info.user.phone}}</td>
            <td>Təsdiqləndi</td>
            {% elif student_info.cancel == 1 %}
            <td>************</td>
            <td>************</td>
            <td>Imtina edildi</td>
            {% endif %}
            {% if student_info.confirm != 1 %}
            <td>
              <a type="button" href="{% url 'course:confirm' student_info.id %}"
                class="common-notification__btn">Təsdiq</a>
            </td>
            {% endif %}
            <td>
              <a type="button" data-toggle="modal" data-target="#deleteModal" href=""
                class="common-notification__btn">İmtina</a>
            </td>
            {% if student_info.confirm == 1 %}
            <td>
              <a type="button" href="{% url 'course:coursemessage' student_info.id %}"
                class="common-notification__btn">Mesaj</a>
            </td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}

        </tbody>

      </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Müraciətə imtina ediləcək. Əminsiniz?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            {% for student_info in student_infos %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">İmtina</button>
            <form action="{% url 'course:cancel' student_info.id %}" enctype="multipart/form-data" method="POST">{%
              csrf_token %}
              <input class="btn btn-danger" type="submit" value="Sil">
            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}