{% extends "layout.html" %}
{% block body %}
<div id="services" class="services section">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Bütün kurslar bir platformada</h4>
          <!-- <img src="assets/images/heading-line-dec.png" alt="">
          <p>Bütün kursları sizin ayağınıza gətirdik. Sizə lazım olan kursu seçin və öyrənməyə başlayın!</p>
          <br><br><br>
          <form action="">
            {% csrf_token %}
            <div class="search-box">
              <button class="btn-search"><i class="fas fa-search"></i></button>
              <input type="text" name="keyword" class="input-search" placeholder="Kursun adini daxil edin...">
            </div>
          </form> -->

        </div>
      </div>
    </div>

    {% if course_values %}
    <h3>Kurslar</h3>
    <hr>
    <div class="row courses-wrapper">
      {% for course_value in course_values%}
      <a href="{% url 'course:detailcourse' course_value.id %}">
        <div class="courses service-item first-service">
          {% if course_value.course_logo %}
          <div class="service-item__icon">
            <img src="{{course_value.course_logo.url}}" alt="{{course_value.course_name}}">
          </div>
          {% endif %}
          <h4>{{course_value.course_name}}</h4>
          <p>{{course_value.course_type}}</p>
          <p>Istifadeci: {{course_value.user}}</p>
          <span>{{course_value.course_slogan}}</span>
          {% if course_value.is_course %}
          <div class="text-button">
            <a href="{% url 'course:detailcourse' course_value.id %}">Etrafli <i class="fa fa-arrow-right"></i></a>
          </div>
          {% else %}
          <div class="text-button">
            <a href="#">Kursunuz təsdiqlənmə gözləyir<i class="fa fa-arrow-right"></i></a>
          </div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if trainer_values %}
    <h3>Treynerlər</h3>
    <hr>
    <div class="row courses-wrapper">
      {% for trainer_value in trainer_values%}
      <a href="{% url 'course:detailtrainers' trainer_value.id %}">
        <div class=" service-item first-service">
          {% if trainer_value.user.user_profile %}
          <div class="service-item__trainer-icon">
            <img src="{{trainer_value.user.user_profile.url}}" alt="{{trainer_value.user.user_profile.url}}">
          </div>
          {% endif %}
          <h4>{{trainer_value.user.name}} {{trainer_value.user.surname}}</h4>
          <p>İxtisas sahəsi: {{trainer_value.study_field}}</p>
          <p>Təcrübəsi: {{trainer_value.experience}}</p>
          {% if trainer_value.is_teacher %}
          <div class="text-button">
            <a href="{% url 'course:detailtrainers' trainer_value.id %}">Ətrafli <i class="fa fa-arrow-right"></i></a>
          </div>
          {% else %}
          <div class="text-button">
            <a href="#">Treyner olaraq tesdiqlenme gozlenilir<i class="fa fa-arrow-right"></i></a>
          </div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>




    {% else %}
    <div class="alert alert-danger">
      Bele bir kurs yoxdur
    </div>
    {% endif %}






  </div>
</div>
{% endblock %}