{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

<br><br><br><br><br>
<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button id="accordion-button1" class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span>
                <i class="fa-solid fa-circle-info"></i>
                Platforma haqqında
              </span>
              <i id="accordion-open1" class="fa-solid fa-chevron-down"></i>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Bu platformanın yaradılmasında məqsəd elmi bir mühitin yaradılmasıdır. Burada fərqli sahələrdə xidmət göstərən kurslar
                və təlimçilər var. Siz eyni zamanda öz sahənizə uyğun məqalələr paylaşa bilərsiniz.
            </div>
          </div>
        </div>
    </div>
    
</div>


{% endblock %}