{% load static %}
<footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Platforma haqqında ətraflı məlumat əldə etmək üçün emailinizi yazin biz sizə geri dönüş edək</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email adresiniz..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Məlumat al <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Bizimlə əlaqə</h4>
            <p><a href="#">Tel: +994705066249</a></p>
            <p><a href="#">Email: info@kurshub.az</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Haqqımızda</h4>
            <ul>
              <li><a href="{% url 'course:aboutus' %}">Haqqımızda</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Faydalı linklər</h4>
            <ul>
              <li><a href="#">gissolution.az</a></li>
              <li><a href="https://www.qgis.org/en/site/">qgis.org</a></li>
              <li><a href="https://edu.gov.az/">edu.gov.az</a></li>
              <li><a href="https://www.sabahlab.edu.az/">sabahlab.edu.az</a></li>
              <li><a href="http://innoland.az/en">innoland.az</a></li>
            </ul>
            <ul>
              <li><a href="https://www.lotfizadeh.az/?public&">lotfizadeh.az</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Bizim Missiyamız</h4>
            <div class="logo">
              <img src="assets/images/white-logo.png" alt="">
            </div>
            <p>Bu platformada sadecə kursları və ya müəllimləri axtarmayacaqsız eyni zamanda elmi yeniliklərdən xəbərdar olacaqsınız.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Kurshub. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
</footer>