{% extends "layout.html" %}
{% block body %}
{% load static %}
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-10 hero">
                  <h2>Bütün kurslar bir məkanda</h2>
                  <p>İstədiyiniz kursu bu platformada tapa bilərsiniz. Platformaya daxil ol və kəşf et</p>
                </div>
                <!-- <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-apple"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="{% static 'assets/images/hero-bg.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h4>Platformada hansı kurslar və hansı sahənin müəllimləri var?</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
        </div>
        <div class="row ">
          <div class="col-lg-6 ">
            <div class="box-item">
              <h4><a href="{% url 'course:courses'%}">Tech academy</a></h4>
              <p>Proqramlaşdırma</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="{% url 'course:courses'%}">Magistraturaaz</a></h4>
              <p>Magistr kursu</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="{% url 'course:courses'%}">Fəqan Umarov</a></h4>
              <p>CİS kursu</p>
              <span>Coğrafi İnformasiya Sistemləri üzrə mütəxəssis</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="{% url 'course:courses'%}">Edu Company</a></h4>
              <p>Magistr kursu</p>
            </div>
          </div>
          <div class="col-lg-12">
            <p>20 000-dən çox tələbə audutoriyası və 100-dən çox kurs və müəllim sayı</p>
            <div class="gradient-button">
              <a href="{% url 'course:tests' %}">Sınaq imtahanların keçid</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/about-right.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="clients" class="the-clients">
  <div class="container">
    <div class="col-lg-8 offset-lg-2">
      <div class="section-heading">
        <h4>Tələbələrimizin kurslar haqqında rəylər</h4>
        <img src="assets/images/heading-line-dec.png" alt="">
        <p>Kurslar və müəllimlər haqqında tələbələrin rəylərini dəyərləndirərək daha yaxşı seçim edə bilərsiniz</p>
      </div>
    </div>
  </div>
  <div class="reviews-bg">
    <div class="reviews-bg__overlay">
      <div class="container">
        <div class="naccs">
          <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide reviews__item">
                <img class="reviews__item-img"
                  src="{% static 'assets/images/feqan.png' %}"
                  alt="Samir">
                <div class="reviews__item-content">
                  <p class="reviews__item-text">CİS və proqramlaşdırma təlimlərinə qoşularaq standart CİS desktop proqramlarından başqa, sıfırdan "GİS Web Application"-ların
                    necə hazırlandığını öyrənə bilərsiniz. 
                  </p>
                  <p class="reviews__item-author">Fəqan Umarov</p>
                </div>
              </div>
              <div class="swiper-slide">
                <img class="reviews__item-img"
                  src="{% static 'assets/images/ilyas.jpg' %}"
                  alt="Samir">
                <div class="reviews__item-content">
                  <p class="reviews__item-text">Bir çox nəhəng platformaların hazırlanmasında istifadə olunmuş Python proqramlaşdırma  dilinin 
                    CİS (Coğrafi informasiya Sistemləri) sahəsində tətbiqini öyrənin.
                  </p>
                  <p class="reviews__item-author">İlyas Zeynaddin</p>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et
            dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">$12</span>
          <h4>Standard Plan App</h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>20 TB of Storage</li>
            <li class="non-function">Life-time Support</li>
            <li class="non-function">Premium Add-Ons</li>
            <li class="non-function">Fastest Network</li>
            <li class="non-function">More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-pro">
          <span class="price">$25</span>
          <h4>Business Plan App</h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>50 TB of Storage</li>
            <li>Life-time Support</li>
            <li>Premium Add-Ons</li>
            <li class="non-function">Fastest Network</li>
            <li class="non-function">More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">$66</span>
          <h4>Premium Plan App</h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li>Lorem Ipsum Dolores</li>
            <li>120 TB of Storage</li>
            <li>Life-time Support</li>
            <li>Premium Add-Ons</li>
            <li>Fastest Network</li>
            <li>More Options</li>
          </ul>
          <div class="border-button">
            <a href="#">Purchase This Plan Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


{% endblock%}