{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="row">
    <div class="container">
        <!-- {% if request.user.is_authenticated %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Siz</strong> Uğurla giriş etdiniz
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>

    {% endif %} -->

        <div class="col-md-6 login-form-1">
            <div class="login__form-title">
                <h3>Giriş et</h3>
            </div>
            <form class="login__form-inner" action="" method="POST">{% csrf_token %}
                <div class="form-group">
                    {{form.email|as_crispy_field}}
                </div>
                <div class="form-group password-box">
                    {{form.password|as_crispy_field}}
                    <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                </div>
                <div class="form-group btnSubmit-box">
                    <input type="submit" class="btnSubmit" value="Giriş et" />
                </div>
                <p>Hesabınız yoxdur?<a href="{% url 'user:register' %}">Qeydiyyatdan keç</a></p>
            </form>
        </div>
    </div>

</div>

{% endblock %}