{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
	<div class="container " id="fields">
		<div class="control-group chat">
			<h3 class="chat-header">Mesajlaşma</h3>
			<div class="controls chat-box" id="profs">
				<div class="chat-inner">
					{% for messages_chat in messages_chats %}
					{% if messages_chat.course == courseid and messages_chat.course_message == True %}
					<div class="chat-msg-box">
						<p class="chat-msg-name">
							{{messages_chat.course.course_name}}
						</p>
						<span class="arrow-up"></span>
						<div class="chat-msg">
							{{messages_chat.message}}
							<p class="chat-msg-date">{{messages_chat.date}}</p>
						</div>
					</div>
					{% elif messages_chat.course == courseid and messages_chat.course_message == False %}
					<div class="chat-msg-box user-msg-box">
						<p class="chat-msg-name">{{messages_chat.user.name}}</p>
						<span class="arrow-up"></span>
						<div class="chat-msg">
							{{messages_chat.message}}
							<p class="chat-msg-date">{{messages_chat.date}}</p>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				<form method="POST" class="input-append course-apply__form">{% csrf_token %}
					<div id="field">{{form|crispy}}</div>
					<div class="course-apply__submit">
						<button type="submit" class="course-apply__submit-btn">
							Mesaj göndər
							<i class="fa-brands fa-telegram"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}