{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<br><br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3 border-right">

            <div class="image-hover d-flex flex-column align-items-center text-center p-3 py-5">
                {% if userprofile.user_profile %}
                    <img class="rounded-circle mt-5 image" width="150px" src="{{userprofile.user_profile.url}}">
                    <div class="middle">
                        <button class="update">Yenile</button>
                    </div>
                {% endif %}
                <br>
                <span class="font-weight-bold">{{userprofile.name}}  {{userprofile.surname}}</span><span class="text-black-50">{{userprofile.email}}</span><span> </span>
            </div>
    </div>
    <div class="col-md-5 border-right">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Şəxsi məlumatlar</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">{{form.name|as_crispy_field}}</div>
                    <div class="col-md-6">{{form.surname|as_crispy_field}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">{{form.username|as_crispy_field}}</div>
                    <div class="col-md-12">{{form.email|as_crispy_field}}</div>
                    <div class="col-md-12">{{form.user_profile|as_crispy_field}}</div>
                    <div class="col-md-12">{{form.phone|as_crispy_field}}</div>
                </div>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Yenilə</button></div>
            </div>
        </form>


    </div>
    <div class="col-md-4">
        <div class="p-3 py-5">            
            <span class="border px-3 p-1 add-experience">
                <a class="fa fa-plus" href="{% url 'course:addcourse'%}">&nbsp; Kurs Elave et</a>
            </span>
            <br>
            <br>
            <span class="border px-3 p-1 add-experience">
                <a class="fa fa-plus" href="{% url 'course:addtrainer'%}">&nbsp; Treyner ol</a>
            </span>
            <br><br>
            <span class="border px-3 p-1 add-experience">
                <a class="fa fa-plus" href="{% url 'course:commonnotification'%}">&nbsp; Müraciətlərim</a>
            </span>
            {% if user.is_course and request.user.id == course_apply.user_id %}
                <a href="{% url 'course:commonnotification'%}">Kursa gelen bildirisler</a>
            {% elif user.is_student %}
                <a href="{% url 'course:coursenotification' course_apply.current_student %}">Muracietlerim</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}