{% load static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="{% url 'index'%}" class="logo">
            <h3>Kurshub</h3>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="{% url 'index'%}" class="active">Ana səhifə</a></li>
            <li class="scroll-to-section"><a href="{% url 'course:aboutus' %}">Haqqımızda</a></li>
            <li class="scroll-to-section"><a href="{% url 'course:courses'%}">Kurslar</a></li>
            <li class="scroll-to-section"><a href="{% url 'course:articles'%}">Məqalələr</a></li>
            <li class="scroll-to-section"><a href="{% url 'course:faq'%}">FAQ</a></li>
            {% if request.user.is_authenticated %}
            <li class="scroll-to-section"><a href="{% url 'course:addcourse' %}">Kurs elave et</a></li>
            <!-- <li class="scroll-to-section"><a href="{% url 'user:logout' %}">Cixis</a></li>
                <li>
                  <div class="gradient-button"><a id="modal_trigger"
                      href="{% url 'user:myprofile' user.id %}">{{request.user.name}} {{request.user.surname}}</a></div>
                </li> -->
            <div class="dropdown show">
              <a class="btn nav-btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{request.user.name}} {{request.user.surname}}
              </a>
  
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'user:myprofile' user.id %}">Profilim</a>
                <a class="dropdown-item" href="{% url 'user:logout' %}">Çıxış</a>
              </div>
            </div>
            {% elif request.user.is_authenticated %}
            <li class="scroll-to-section"><a href="{% url 'course:tests' %}">Sinaqlar</a></li>
  
            <li class="scroll-to-section"><a href="{% url 'user:logout' %}">Cixis</a></li>
            <li>
              <div class="gradient-button">
                <a id="modal_trigger" href="{% url 'user:myprofile' user.id %}">{{request.user.name}}
                  {{request.user.surname}}</a>
              </div>
            </li>
  
            {% elif request.user.is_authenticated and user.is_teacher %}
            <li class="scroll-to-section"><a href="{% url 'course:addcourse' %}">Kurs elave et</a></li>
            <li class="scroll-to-section"><a href="{% url 'user:logout' %}">Cixis</a></li>
            <li>
              <div class="gradient-button"><a id="modal_trigger"
                  href="{% url 'user:myprofile' user.id %}">{{request.user.name}} {{request.user.surname}}</a></div>
            </li>
  
  
            {% else %}
            <li class="scroll-to-section"><a href="{% url 'user:login' %}">Kurs elave et</a></li>
            <li class="scroll-to-section"><a href="{% url 'user:login' %}">Giriş</a></li>
            <li>
              <div class="gradient-button"><a id="modal_trigger" href="{% url 'user:register' %}"><i
                    class="fa fa-sign-in-alt"></i> Hesab Yarat</a></div>
            </li>
            {% endif %}
  
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
  
</header>
<!-- ***** Header Area End ***** -->