{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

<div class="articles">
    <div class="container">
        <div class="row articles__wrapper">
            {% for photo_gallery in photo_gallerys %}
            <div class="articles__item">
                <div class="articles__item-body">
                    {% if photo_gallery.photo %}
                    <div class="articles__item-img--wrapper">
                        <img src="{{photo_gallery.photo.url}}" class="articles__item-img" alt="Waterfall" />
                    </div>
                    {% endif %}
                    <h5 class="articles__item-title">{{photo_gallery.title}}</h5>
                    <p>
                        {{photo_gallery.content|safe}}
                    </p>
                </div>
                <a href="{% url 'course:blogdetails' photo_gallery.id %}" class="articles__item-btn">Ətraflı</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}