{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

<br><br><br><br><br><br>
<div class="carousel-inner py-4">
    <div class="carousel-item active">
        <div class="container">

                <div class="row ">
                    {% for photo_gallery in photo_gallerys %}
                    <div class="col-lg-4">
                        <div class="card">
                            {% if photo_gallery.photo %}
                                <img
                                src="{{photo_gallery.photo.url}}"
                                class="card-img-top"
                                alt="Waterfall"
                                />
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{photo_gallery.title}}</h5>
                                <p class="card-text">
                                    {{photo_gallery.content}}
                                </p>
                                <a href="#!" class="btn btn-primary">Etrafli</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>




{% endblock %}