{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="add-trainer__bg">
        <div class="container">
            <div class="add-trainer">
                <h3>Kursu premium et</h3>
                <form class="add-trainer__form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="add-trainer__form-inner">
                        <input type="text">
                        <input type="text" name="" id="">
                    </div>
                    <div class="add-trainer__form-submit">
                        <button type="submit" class="add-trainer__form-submit--btn">Təsdiq</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}