{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<br><br><br><br><br><br><br>

<div class="container">
    <div class="card" style="width: 18rem;">
        {% if course_exams %}
          {% for course_exam in course_exams %}
          <div class="card-body">
            <h5 class="card-title">Kurs: {{course_exam.course}} {{course_exam.exam_title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Məqsəd: {{course_exam.exam_content}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Filial: {{course_exam.branch}}</h6>
            <p class="card-text">Boş yerlər: {{course_exam.empty_space}}</p>
            <a href="#" class="card-link">Etrafli</a>
            <a href="{% url 'course:applyexam' course_exam.course_id %}" class="card-link">Muraciet et</a>
          </div>
          {% endfor %}
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              Hazırda heç bir kursda imtahan mövcud deyil
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>

        {% endif %}

     

</div>
{% endblock %}