{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<div class="row">
    <div class="container common-notification">
        <div class="notification-table">
            <table class="table">
                {% if user %}
                <thead class="notification-table__head">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Başlıq</th>
                        <th scope="col">Mövzu</th>
                        <th scope="col">Müraciət tarixi</th>
                        <th scope="col">Email</th>
                        <th scope="col">Əlaqə</th>
                        <th scope="col">Veziyyet</th>
                        <th scope="col">Təsdiq</th>
                        <th scope="col">İmtina</th>
                    </tr>
                </thead>



                <tbody>
                    {% for student_apply in student_applys %}
                    {% if student_apply.pending == 1 or student_apply.confirm == 1 %}
                    <tr>
                        <th scope="row">{{student_apply.id}}</th>
                        <td>{{student_apply.user.name}}</td>
                        <td>{{student_apply.user.surname}}</td>
                        <td>{{student_apply.apply_title}}</td>
                        <td>{{student_apply.apply_content}}</td>
                        <td>{{student_apply.apply_date}}</td>

                        {% if student_apply.pending == 1 %}
                        <td>************</td>
                        <td>************</td>
                        <td>pending...</td>
                        {% elif student_apply.confirm == 1 %}
                        <td>{{student_apply.user.email}}</td>
                        <td>{{student_apply.user.phone}}</td>
                        <td>Təsdiqləndi</td>
                        {% elif student_apply.cancel == 1 %}
                        <td>************</td>
                        <td>************</td>
                        <td>Imtina edildi</td>
                        {% endif %}

                        {% if student_apply.confirm != 1 %}
                        <td>
                            <a type="button" href="{% url 'course:confirmtrainer' student_apply.id %}"
                                class="btn btn-info">Təsdiq</a>
                        </td>

                        {% endif %}
                        <td>
                            <a type="button" href="{% url 'course:canceltrainer' student_apply.id %}"
                                class="btn btn-info">İmtina</a>
                        </td>

                    </tr>
                    {% endif %}
                </tbody>
                {% endfor %}
                {% endif %}

            </table>
        </div>
    </div>
</div>
{% endblock %}