{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="add-trainer__bg">
        <div class="container">
            <div class="add-trainer">
                <h3>Cavab yaz</h3>
                <form method="POST" class="add-trainer__form">
                    {% csrf_token %}
                    <div class="add-trainer__form-inner">
                        {{form.media}}
                        {{form|crispy}}
                    </div>
                    <div class="add-trainer__form-submit">
                        <button type="submit" class="add-trainer__form-submit--btn">Göndər</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}