.addcourse{
    display: flex;
}
.addbranchbutton{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.navbar-nav a{
    font-size: 13px;
}
.location-map{
    width: 20px;
    height: 20px;
}
.branchupdate{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 2%;
    background-color: #eefffe;
    cursor: pointer;
}
.courses{
    margin-right: 20px;
}